@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');

@font-face {
    font-family: 'EarlyFontDiary';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/* reset */
body, input{
    margin: 0;
    padding: 0;
}
h1, h2, h3, p, label{
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

input,textarea{font-size: inherit;}
input:focus,textarea:focus{outline: none;}

button{
    font-size: inherit;
    font-family: inherit;
    font-weight: 700;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

ol,ul,li{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* setting */

:root{
    --windowHeight:920;
}

body{
    background-color: #f6f6f6;
    font-family: 'Gowun Batang', serif;
}

.hide{
	display:block;
	overflow:hidden;
	Font-size:1px;
	line-height:0;
	text-indent:-9999px;
}

.btn{
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

/* scroll */
.scroll::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
}
.scroll::-webkit-scrollbar-thumb {
    background-color: #eee;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.scroll::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

/* layout */
.wrapping{
    max-width: 1800px;
    padding: 0 40px;
    display: flex;
    gap: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 40px auto;
}

.content-wrap{
    padding:calc(var(--windowHeight) * 0.04px) 30px;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
}

/* design */
.emoji::before,
.memo::before{
    display: inline-block;
    content: '';
    background-repeat: no-repeat;
    background-position: center;
}

.smile-emoji::before{background-image: url(./images/smile_emoji.png);}
.love-emoji::before{background-image: url(./images/love_emoji.png);}
.tired-emoji::before{background-image: url(./images/tired_emoji.png);}
.sick-emoji::before{background-image: url(./images/sick_emoji.png);}
.sad-emoji::before{background-image: url(./images/sad_emoji.png);}
.angry-emoji::before{background-image: url(./images/angry_emoji.png);}
.star-emoji::before{background-image: url(./images/star_emoji.png);}
.like-emoji::before{background-image: url(./images/like_emoji.png);}
.pensive-emoji::before{background-image: url(./images/pensive_emoji.png);}
.lol-emoji::before{background-image: url(./images/lol_emoji.png);}
.heart-emoji::before{background-image: url(./images/heart_emoji.png);}

/* emoji class end*/

.write-wrap{
    width: 40%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 20px 0;
}

.write-title{
    margin-bottom: auto;
    text-align: center;
    /* font-size: 50px; */
    font-size: 6vmin;
    font-weight: 700;
    color: #333;
    position: relative;
    z-index: 0;
    font-family: 'EarlyFontDiary';
    word-break: keep-all;
}

.write-title::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 15px 30px -5px;
    background-color: rgba(255, 217, 0, 0.5);
    z-index: -1;
}

.write-input{
    width: 100%;
    font-family: 'Gowun Batang', serif;

}
.title-input{
    font-size: 25px;
    border: none;
    border-bottom: 3px solid #eee;
    font-weight: 700;
    padding: 0 15px 5px 15px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.txt-input{
    height: calc(var(--windowHeight) * 0.4px) ;
    padding: 15px;
    box-sizing: border-box;
    border: 3px solid #eee;
    font-size: 20px;
    resize: none;
    border-radius: 5px;
    overflow-y: auto;
}

.title-input:focus,
.txt-input:focus{border-color: #999;}

.emoji-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 0 0.25%;
    justify-content: flex-start;
}
.emoji{
    width: 8.6%;
    height: 55px; 
}
.emoji::before{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-color: #fff;
    filter: grayscale(1);
}
.emoji:checked::before{filter: grayscale(0);}

.btn-upload{
    width: 100%;
    font-size: 20px;    
    padding: 15px;
    background-color: #999;
    margin-top: auto;
}

.btn-upload:hover{
    background-color: gold;
}
/* write-wrap end */

.list-wrap{width: 60%;}

.waiting-msg{
    display: block;
    text-align: center;
    font-size: 30px;
    color: #aaa;
}
.waiting-msg.close{
    display: none;
}

.list-wrap .memo-list{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.memo-list.scroll::-webkit-scrollbar-thumb {
    background-color: gold;
}
.memo{
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #f6f6f6;
    border-left: 1px solid #f6f6f6;
    display: flex;
    flex-wrap: wrap;
    gap: 0 15px;
    align-items: center;
}

.memo::before{
    width: 35px;
    height: 35px;
    background-size: 30px;
}
.memo.love-emoji::before{
    background-size: 34px;
}
.memo .title-memo{
    font-weight: 700;
    font-size: 25px;
    max-width: 860px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
    
}
.memo .txt-memo{
    width: 100%;
    max-height: 290px;
    margin:15px 0 ;
    padding-right: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    font-size: 20px;
    line-height: 1.6;
    text-align:justify;
    letter-spacing: 1px;
}

.memo .time-memo{
    color: #aaa;
}
.memo .btn-delete{
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #eee;
    color: #666;
    margin-left: auto;
}
.memo .btn-delete:hover{
    background-color: #888;
    color: #fff;
}
/* .list-wrap end */

.all-delete-btn{
    position: fixed;
    height: 60px;
    right: -85px;
    bottom: 30px;
    border-radius: 50px 0 0 50px;
    padding: 10px 20px;
    transition: right 0.5s;
    background-color: #333;
    color: #fff;
    text-align: left;
}
.all-delete-btn::before{
    content: '✖';
    display: inline-block;
    padding-right: 15px;
}
.all-delete-btn:hover{
    right: 0px;
}

/* media */
@media screen and (max-width:1200px) {
    .wrapping{
        flex-direction: column;
        top:inherit;
        bottom: inherit;
        gap: 0;
        margin: 40px 0;
    }

    .content-wrap{margin: 0;}

    .write-wrap, .list-wrap{
        width: 100%;
        margin-bottom: 40px;
    }
    .write-title{
        margin-bottom: 70px;
    }

    .btn-upload{
        margin-top: 40px;
    }

    .input-wrap{    
        justify-content: space-between;
    }
}