body, p{
    margin: 0;
    padding: 0;
}

.container{
    margin: auto;
    width: 1400px;
    height: 800px;
    border: 1px solid #000;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;

}
.info-wrap{
    position: absolute;
    left: 0;top: 0;
    z-index: 10;
}

.game-wrap{

    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-image: url(./images/bg2.png);
    background-position: right bottom;
    background-repeat:repeat-x;
    position: relative;
}
.game-wrap::before{
    content: '';
    display: block;
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    background-image: url(./images/bottom.png);
}
@keyframes bgMove {
    to{background-position: right bottom;}
    from{background-position: left bottom;}
}
.game-wrap .character{
    display: inline-block;
    width: 70px;
    height: 122px;
    position: absolute;
    bottom: 55px;
    transform:translateX(657px) rotateY(0deg);
    background-image: url(./images/girl_walking.png);
    background-position: 0 0;
    /* z-index: 10; */
}
.game-wrap .character.move{
    animation: walking 1.2s infinite forwards steps(10);
}

@keyframes walking {
    to{background-position: 0 0;}
    from{background-position: 700px 0;}
}
/* character end */

.game-wrap .item{
    width: 70px;
    position: absolute;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform: translateY(-140px);
}
.game-wrap .item.coin{
    height: 70px;
    background-image: url(./images/coin.png);
    animation-name: itemAnimation;
    animation-timing-function: steps(6);
    
}
.game-wrap .item.coin{
    height: 70px;
    background-image: url(./images/heart.png);
    animation-name: itemAnimation;
    animation-timing-function: steps(6);
    
}
@keyframes itemAnimation {
    to{background-position: 0 0;}
    from{background-position: 420px 0;}
}
/* coin end */

.game-wrap .item.fire{
    height: 138px;
    background-image: url(./images/fire.png);
    animation-name: fireAnimation;
    animation-timing-function: steps(9);
}

@keyframes fireAnimation {
    to{background-position: 0 0;}
    from{background-position: 630px 0;}
}
/* fire end */
.key-wrap {

    border: 1px solid seagreen;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.key-wrap .key{
    width: 80px;
    height: 80px;
    border: 2px solid #111;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    background: linear-gradient(90deg, #333, #222);
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.3),
    5px 5px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

.key-wrap .key::before{
    content: "";
    display: inline-block;
    width: 62px;
    height: 62px;
    border-radius: 10px;
    background: linear-gradient(-90deg, #353535 20%, #252525 80%);
    border-left: 3px solid #222;
    border-top: 1px solid #222;
    border-bottom: 2px solid #353535;
    border-right: 1px solid #222;
    box-shadow: -20px -20px 20px rgba(255, 255, 255, 0.2);
}

.key.arrow-up{ grid-column: 2 / span 1 ;}
.key.arrow-left , .key.arrow-down , .key.arrow-right{ grid-row: 2 / span 1 ;}

.key-wrap .key.key-press {
    background: linear-gradient(90deg, #252525, #151515);
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.3),
    5px 5px 10px rgba(0, 0, 0, 0.3);
}

.key-wrap .key.key-press::before {
    background: linear-gradient(-90deg, #222 20%, #151515 80%);
    border-left: 3px solid #151515;
    border-top: 1px solid #151515;
    border-bottom: 2px solid #252525;
    border-right: 1px solid #151515;
    box-shadow: -20px -20px 20px rgba(100, 100, 100, 0.2);
}


.key-wrap .key .txt-key {
    display: block;
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 14px;
    font-weight: 400;
    color: #eee;
}

.key-wrap .key.key-press .txt-key{
    color: #666;
}