@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body, p{
    margin: 0;
    padding: 0;
}
button{
    display: inline-block;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
}

body{
    font-family: 'Fredoka One', cursive;
}
.close{
    display: none;
}
.container{
    margin: auto;
    width: 1400px;
    height: 800px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 20px;
    border: 40px solid #111;
    border-left-width:55px;
    border-right-width:55px;
    background-color: #111;
    overflow: hidden;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.6);
}

.inner-wrap{
    border-radius: 20px;
    overflow: hidden;
}

.start-page{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 30;
    text-align: center;
    padding: 50px;
}
.start-page .title-start{
    font-size: 150px;
    animation: titleAnimation 2s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
}
@keyframes titleAnimation {
    to{
        color: gold;
        transform: scale(1.5) rotate(10deg);
    }
    from{
        color:springgreen;
        transform: scale(1.2) rotate(-10deg) ;
    }
}
.start-page .btn-start{
    padding: 20px 30px;
    font-size: 50px;
    border-radius: 25px;
    letter-spacing: 10px;
    padding-left: 40px;
    background-color: gold;
    border: 5px solid #000;
}
.start-page .btn-start:hover{
    background-color: springgreen;

}
.info-wrap{
    padding:15px 30px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    font-size: 43px;
}

.info-wrap .img-info::before{
    content: '';
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: 294px 50px;
    background-position: 0 center;
    margin-right: 10px;
    vertical-align:bottom;
    background-repeat: no-repeat;
}

.info-wrap .score-txt{float: left;}
.info-wrap .score-txt::before{background-image: url(./images/coin.png);}
.info-wrap .life-txt{float: right;}
.info-wrap .life-txt::before{background-image: url(./images/heart.png);}
/* .info-wrap end */

.game-wrap{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-image: url(./images/bg2.png);
    background-position: right bottom;
    background-repeat:repeat-x;
    position: relative;
}
.game-wrap::before{
    content: '';
    display: block;
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    background-image: url(./images/bottom.png);
}
@keyframes bgMove {
    to{background-position: right bottom;}
    from{background-position: left bottom;}
}
.game-wrap .character{
    width: 70px;
    height: 122px;
    position: absolute;
    bottom: 55px;
    transform:translateX(657px) rotateY(0deg);
    background-image: url(./images/girl_walking.png);
    background-position: 0 0;
}
.game-wrap .character.move{
    animation: walking 1.2s infinite forwards steps(10);
}

@keyframes walking {
    to{background-position: 0 0;}
    from{background-position: 700px 0;}
}
/* character end */

.game-wrap .item{
    width: 70px;
    position: absolute;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform: translateY(-140px);
}
.game-wrap .item.coin{
    height: 70px;
    background-image: url(./images/coin.png);
    animation-name: itemAnimation;
    animation-timing-function: steps(6);
    
}
.game-wrap .item.heart{
    height: 70px;
    background-image: url(./images/heart.png);
    animation-name: itemAnimation;
    animation-timing-function: steps(6);
    
}
@keyframes itemAnimation {
    to{background-position: 0 0;}
    from{background-position: 420px 0;}
}
/* coin end */

.game-wrap .item.fire{
    height: 138px;
    background-image: url(./images/fire.png);
    animation-name: fireAnimation;
    animation-timing-function: steps(9);
}

@keyframes fireAnimation {
    to{background-position: 0 0;}
    from{background-position: 630px 0;}
}
/* fire end */